.background {
    background-color: rgb(119, 128, 0);
}
.common {
    background-color: rgb(166, 182, 163);
    border:  solid 2px white;
    position: absolute;
}
.navigation {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
}
.mainbody {
    top: 64px;
    left: 5px;
    right: 5px;
    bottom: 64px;
}
.footer{
    bottom: 5px;
    height: 50;
    left: 5px;
    right: 5px;
    position: fixed;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}
.text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chart {
    width: 150px;
}